@font-face {
  font-family: 'Beauty';
  src: url('./Beauty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beauty13';
  src: url('./Beauty 13.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
